<style type="text/css">
    p.comment {
        font-size: 12px;
        color: #fff;
        float: left;
        padding: 6px 12px;
        background: rgba(255, 255, 255, 0.11);
        border-radius: 6px;
        overflow: hidden;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .email_subs {
        float: left;
        width: 100%;
        background: #fff;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        padding: 0 15px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.21);
        margin-top: 20px;
    }

    .button_subs {
        float: right;
        border: none;
        border-radius: 4px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        margin-top: 10px;
        font-weight: 600;
        cursor: pointer;
        background: #ff5e57;
    }
</style>
<footer class="main-footer dark-footer  ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>Sobre nosotros</h3>
                    <div class="footer-contacts-widget fl-wrap">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
                        <ul  class="footer-contacts fl-wrap">
                            <li><span><i class="fa fa-envelope-o"></i> Correo electrónico: </span><a>hackathon@unodc.com</a></li>
                            <li> <span><i class="fa fa-map-marker"></i> Dirección: </span><a>Calle Falsa 123 </a></li>
                            <li><span><i class="fa fa-phone"></i> Celular: </span><a>+(57)3182499059</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>Últimas Noticias</h3>
                    <div class="widget-posts fl-wrap">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>Últimos comentarios</h3>
                    <div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>Subscribirse</h3>
                    <div class="subscribe-widget fl-wrap">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
                        <div class="subcribe-form">

                        </div>
                    </div>
                    <div class="footer-widget fl-wrap">
                        <div class="footer-menu fl-wrap">
                            <ul>
                                <li><a>Inicio</a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer fl-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-widget">
                        <%= image_tag("logo.png") %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="copyright"> &#169; Battery Express <%=Time.now.year%>.  Todos los derechos reservados.</div>
                </div>
                <div class="col-md-4">
                    <div class="footer-social">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>