<div class="section-title faq">

            <h2>¿Cómo publicar una oferta de empleo?</h2>
            <h3>En la página principal encontrarás un botón de una “más”, ahí podrás los detalles de las ofertas de empleo que requieras, al finalizar das click en “guardar” y listo, tu vacante que- dará publicada.</h3>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>

             <h2>¿Cómo consultar hojas de vida?</h2>
            <h3>En la página principal encontrarás una lupa, ahí podrás buscar por cédula o carrera a la persona que necesites, cuando te muestre las personas encontradas, cada una tendrá su respectiva hoja de vida, en donde podrás mirar más detalles sobre cada una.</h3>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
            
             <h2>¿Cómo filtrar candidatos?</h2>
            <h3>Elige el proceso en el que deseas filtrar, ahí encontrarás una lupa que te permitirá realizar una búsqueda más detallada de la persona que necesitas para el cargo.</h3>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
            
        </div>