<div class="section-title faq">
            <h2>¿Debo adjuntar mi hoja de vida?</h2>
            <h3>Sí, este documento es importante durante todo el proceso para poder mirar información más detallada.</h3>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
             <h2>¿Cómo buscar ofertas de empleo?</h2>
            <h3>En la página principal podrás encontrar un lupa ubicada en la zona superior izquierda, ahí podrás filtrar información para encontrar tu trabajo ideal.</h3>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
             <h2>¿Cómo recuperar mi contraseña?</h2>
            <h3>Puedes dar click en iniciar sesión, ahí encontrarás un “olvidé mi contraseña”, puedes dar click ahí y te guiaremos para restaurarla.</h3>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
             <h2>¿Cómo aplicar a una vacante?</h2>
            <h3>Cuanda hayas encontrado tu empleo ideal, podrás ingresar en la información detallada de la vacanta y encontrarás un botón de “aplicar”, ahí podrás responder unas preguntas que te permitirán ingresar en el proceso de la empresa.</h3>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
        </div>