				<section style="padding: 30px 0;">
    <div class="container">
        <div class="section-title">
            <h2>Somos una herramienta que permite la captaci贸n de informaci贸n de diferentes perfiles en la organizaci贸npara optimizar los procesos de 
            reclutamiento. Permitiendo asi, un mejor manejo de los sistemas de informaci贸n</h2>
            <div class="section-subtitle"> </div>
            <span class="section-separator"></span>
        </div>
        <!--process-wrap  -->

        <!--process-wrap   end-->
    </div>
</section>