     <div class="process-wrap fl-wrap">
            <ul>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon">1</i></div>
                            <div class="wrapper-text"><h4>Registra tus datos personales y profesionales</h4></div>
                         </div>
                </li>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon">2</i></div>
                        <div class="wrapper-text"><h4>Elige entre las vacantes de la empresa</h4></div>
                    </div>
                </li>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon">3</i></div>
                       <div class="wrapper-text"> <h4 class="spechial">Aplica a la que desees y listo, la empresa se pondra en contacto contigo</h4></div>
                    </div>
                </li>
            </ul>
        </div>