     <div class="process-wrap fl-wrap">
            <ul>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon"><i class="fa fa-bars"></i></div>
                            <h4>Registra tus datos personales y profesionales</h4>
                         </div>
                    <span class="pr-dec"></span>
                </li>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon"><i class="fa fa-diamond"></i></div>
                        <h4>Elige entre las vacantes de la empresa</h4>
                    </div>
                    <span class="pr-dec"></span>
                </li>
                <li>
                    <div class="process-item">
                        <span class="process-count"></span>
                        <div class="time-line-icon"><i class="fa fa-comments-o"></i></div>
                        <h4>Aplica a la que desees y listo, la empresa se pondra en contacto contigo</h4>
                    </div>
                </li>
            </ul>
        </div>